<div class="row-fluid">
    <div class="col-md-12">
        <h2>&nbsp;</h2>
        <h2>
            Input Data (.json only)
        </h2>
        
        <form action="/submit" method="POST">

            <div class="panel panel-info">
                
                <div class="panel-body">

                    </label>Path to file (try the sample data by entering this path: data/sample_data.json)</label>
                    <div>
                    <input type="text" name="path" ng-model="p.path" value="33"/>
                    </div>
                    </label>Minimum number of time points</label>
                    <div>
                    <input type="text" name="numvisit" ng-model="p.numvisit" value="33"/>
                    </div>
                    </label>Minimum transition probability</label>
                    <div>
                    <input type="text" name="prob" ng-model="p.prob" value="0"/>
                    </div>
                    </label>Minimum number of transitions</label>
                    <div>
                    <input type="text" name="count" ng-model="p.count" value="0"/>
                    </div>
                </div>

                
                </div>
               <input type="hidden" name="user_input_total" value={{p}} />
                <input class="button" type="Submit" value="Submit">
            </div>
        </form>

    </div>

</div>