<div class="row-fluid">
    <div class="col-md-12">

        <h2 class="text-center">
            Introduction
        </h2>


    </div>
    <div class="container">
        <div class="text-left">
            Welcome to  <span class="label label-info">Clinical Pathways
            Finder</span> for Chronic Kidney Disease
            patients. This platform allows users to identify their expected
            clinical pathways by matching their profiles to past patients in our
            database. By entering your information from each visit, you will be
            able to see what patients similar to your profile have gone through
            in the past. Profile matching is performed using age, gender, and
            clinical attributes from each visit.
            <p>
                You will be able to see the expected pathways as a graph,
                linking one event to the next. Please note that it is not
                guranteed to be your pathway; you can always gain better health
                by working with your health providers for proper treatment and
                education.

            <p>


        </div>

    </div>
</div>