<head>
    <link href="../static/css/redmond/jquery-ui-1.10.1.custom.css" rel="stylesheet">
    <script src="../static/js/jquery-1.9.1.js"></script>
    <script src="../static/js/jquery-ui-1.10.1.custom.js"></script>

    <link href="../static/css/demo_table.css" rel="stylesheet">
    <link href="../static/css/demo_page.css" rel="stylesheet">
    <script src="../static/js/jquery.dataTables.min.js"></script>


    <script src="../static/js/script.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">


</head>
<h1> Chronic Kidney Disease: Expected Clinical Pathways Finder</h1>
