<head>
    <script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
	<script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>    
	<link href="https://code.jquery.com/ui/1.10.1/themes/smoothness/jquery-ui.css" rel="stylesheet">

	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css"/>
    

	

    <script src="../static/js/script.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">


    <!--
    <script src="../static/js/jquery-ui-1.10.1.custom.js"></script>
	<script src="../static/js/jquery.dataTables.min.js"></script>
    !-->



</head>
<h1> Clinical Pathways Learner</h1>
